

html {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: black;
}

body {
  background: url(img/bananas.png) repeat;
  
  margin: 0;
  font-size: 1em;
}

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

h3{
  font:400 50px/1em Amatic SC;
  text-align:center;
  padding-top: 8px;

  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
  text-transform: uppercase;
  color: #f1ebe5;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  
  letter-spacing: -4px;

  background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%); 
  border-radius: 20px;
}
  
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-calendar {
  background: url(img/geometric-leaves.png) repeat ;
  padding: 15px;
  height: 80%;
  max-height: 400px;
  position: relative;
  overflow: auto;
 
  border: white 8px inset;
  border-radius: 5px;
}



.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
  color: black;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
color: green;
}

/* friday */
.date-picker:nth-child(6) {
color: black;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}